/*Fuentes de google */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Open+Sans:wght@300;400;600&display=swap');

/*variables tematicas*/
:root{
 --primary: #053157;
 --secundary:#e87416;
 --background:#fffef5;
 --text-dark:#333;
}


body{
    font-family: 'Open Sans', sans-serif;
    background: var(--background);
    color: var(--text-dark);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1,h2,h3,h5{
    font-family: 'Merriweather', serif;
    color:var(--primary)
}


.navbar{
    background: white;
    border-bottom: 3px solid var(--primary);
}

.navbar-custom{
    background-color: white;
    border-bottom:  3px solid var(--primary);
}

.navbar-brand{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 700;
    color: var(--primary)
}

.navbar-custom .nav-link{
 font-weight: 600;
 color:var(--primary);
 margin-left:15px;
 transition: 0.3s;

}

.navbar-custom .nav-link:hover{
    color: var(--secundary);
}

.navbar-custom .nav-link.active{
    border-bottom: 2px solid var(--primary);
}

.navbar-toggler{
    border:1px solid var(--primary);
}



#btn-todo{
    background: var(--primary);
    border:none;
    
} 

#btn-biologia{
    background: var(--secundary);
    color:#222;
    border:none;
}
 #btn-quimica{
   background: var(--secundary);
   color:#222;
    border:none;
    
}

button{
 
    margin:1rem 0.3rem;
}
.card .btn-primary:hover{
    background: var(--secundary);
}

.card .btn-primary{
    background: var(--primary);
    border: none;
    width: 100%;
    margin: 0.3rem 0;
}

.chatbot-btn{
    background: var(--primary);
    border: none;
    padding: 0.4rem 0.8rem;
    font-size: 0.85rem;
    margin: 0.3rem ;
    color: white;
}



.container-cards{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    margin:2rem auto;
   
}

.card{
    width: 18rem;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    border-left: 6px solid var(--primary);
    transition: transform 0.3s ease;
    cursor: pointer;
}

.card:hover{
    transform: translateY(-5px);
}

.card.biologia{
    border-left-color: var(--secundary);
}

.card.quimica{
    border-left-color: var(--secundary);
}



#respuesta{
    resize: none;
    font-size: 0.9rem;
}




footer{
    margin-top: auto;
    background: var(--primary);
    color: white;
    text-align: center;
    padding: 1rem ;
    font-size: 0.9rem;
   
}

/*SECCIONES*/

.api-section{
    margin-top: 2rem;
}

.chatbot-section{
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.separador{
    width: 60%;
    margin:  3rem auto;
    border-top: 3px solid var(--primary);
}

.chatbot-container{
    display: flex;
    justify-content: center;
    
}
.chatbot-card{
    width: 22rem;
}

.card-img-top{
    height: 100%;
    width: 180px;
    object-fit: cover;
    
}


/*colores html*/

.color-samples{
    display:flex;
    gap:15px;
    margin-top: 15px;
    color: white;

}
.samples{
    width: 120px;
    height: 50px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
}


.sample.primary{
    background: var(--primary)
}
.sample.secundary{
    background: var(--secundary);
}

.wireframe{
    font-size: monospace;
    white-space: pre;
    background:  white;
    padding: 15px;
    border: 1px solid var(--background);
    margin: 10px 0 25px;
}